.btn{
  font-weight: 700;
  padding: 17px 45px;
  @include border-radius(5px);
  &:focus{
    box-shadow: none;
  }

  @each $name, $value in $colors {
    &__#{$name} {
      color: set-text-color($value);
      background-color: $value;
      &.shadow{
        box-shadow:none !important;

        &:hover{
          @include box-shadow(0 15px 30px transparentize($value, .5));
        }    
      }
      &.darken{
        &:hover{
          background-color: darken($value, 5);
        }
      }
    }
    
    &__outlined--#{$name} {
      border: 2px solid $value;
      color: $value;
      opacity: .3;
      background-color: transparent;
      @extend %fade;
      &:hover{
        opacity: 1;
        color: $value;
      }
    }
  }

  &__full{
    width:100%;
  }

}